# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.env/
.venv/
ENV/
env/
env.bak/
venv.bak/

# Install packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/
share/python-wheels/
*.manifest
*.spec

# pytest cache and config
.pytest_cache/
.cache/

# Type checker data
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pydantic data
.pydantic/

# Pytest coverage files
.coverage
.coverage.*
.cache
.pytest_cache/
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook files
.ipynb_checkpoints/

# PyCharm project files
.idea/

# Visual Studio Code files
.vscode/
.history/

# macOS-specific files
.DS_Store
.AppleDouble
.LSOverride

# Local env files
.env
.env.*
